@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html {
  font-size: 15px; }

@media (min-width: 1700px) {
  html {
    font-size: 20px; } }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html {
    font-size: 36px; } }
body, h1, h2, h3, h4, p, span {
  font-family: 'Open Sans';
  color: #eee;
  line-height: 1.25; }

body {
  background-color: #2e2e2e; }

.wrapper {
  position: relative;
  height: 100%; }

#subredditContainer {
  height: 2.5rem;
  background-color: #000;
  width: 100%;
  z-index: 10;
  position: relative; }
  #subredditContainer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #subredditContainer ul li {
      padding: 10px;
      color: #fff; }
  #subredditContainer #activeSubreddit {
    float: left;
    font-weight: bolder; }
  #subredditContainer #inactiveSubreddits {
    float: right;
    background-color: #000; }
    #subredditContainer #inactiveSubreddits li {
      float: left;
      opacity: 0.5;
      cursor: hand; }
      #subredditContainer #inactiveSubreddits li:hover {
        opacity: 1; }

#settingsCog {
  position: relative;
  float: right;
  margin: 1rem;
  font-size: 1.5rem;
  z-index: 100;
  opacity: 0.4;
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none; }
  #settingsCog:hover {
    opacity: 1; }

#postContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1; }
  #postContainer #loading {
    position: fixed;
    top: 25%;
    left: 0%;
    width: 100%; }
    #postContainer #loading img {
      display: block;
      margin-left: auto;
      margin-right: auto; }

.post {
  padding: 10px 0 10px 10px;
  position: relative; }
  .post .colorBar {
    top: 0;
    left: 0;
    height: 100%;
    width: 0.4rem;
    position: absolute; }
  .post .title {
    cursor: pointer; }
    .post .title .fa-certificate {
      color: #FFD353; }
  .post .details {
    display: none; }
    .post .details a {
      color: #fff; }

.remodal {
  text-align: left; }
  .remodal h1, .remodal h2, .remodal h3, .remodal h4, .remodal p, .remodal span {
    color: #000;
    text-align: left; }
  .remodal h1 {
    font-size: 2.5rem; }
  .remodal h2 {
    font-size: 2rem; }
  .remodal h3 {
    font-size: 1.5rem; }
  .remodal h4 {
    font-size: 1.25rem; }
  .remodal a {
    text-decoration: none;
    color: #000; }
  .remodal #resetDefaults {
    float: right;
    padding: 10px; }
  .remodal #subs .settingSub .colorBar {
    width: 1rem;
    height: 1rem;
    display: inline-block; }
  .remodal #subs .settingSub i {
    cursor: pointer; }
  .remodal #subs .settingNewSub .colorSelector {
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
    display: inline-block;
    margin-bottom: -10px; }

#sizeContainer {
  width: 150px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .7;
  color: #000; }
