@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html {
  font-size: 15px;
}
@media (min-width: 1700px) {
  html { font-size: 20px; }
}

// @media (max-width: 1000px) {
//   html { font-size: 36px; }
// }
// @media (max-width: 400px) {
//   html { font-size: 18px; }
// }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	// Mobile
	html { font-size: 36px; }
}

body, h1, h2, h3, h4, p, span {
	font-family: 'Open Sans';
	color: #eee;
	line-height: 1.25;
}

body {
	background-color: #171717;
}
.wrapper {
	position: relative;
	height: 100%;
}

#subredditContainer {
	height: 2.5rem;
	background-color: #000;
	width: 100%;
	z-index: 10;
	position: relative;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding:10px;
			color: #fff;
		}
	}
	#activeSubreddit {
		float:left;
		font-weight: bolder;
	}
	#inactiveSubreddits {
		float:right;
		background-color: #000;
		li {
			float:left;
			opacity: 0.5;
			cursor: hand;
			&:hover {
				opacity: 1;
			}
		}
	}
}

#settings {
	position: relative;
	float: right;
	margin: 1rem;
	font-size: 1.5rem;
	z-index: 100;
	opacity: 0.4;
	text-decoration: none;
	&:hover {
		opacity: 1;
	}
	a {
		color: #FFFFFF;
		text-decoration: none;
		border-bottom: none;
	}
}

#postContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
.post {
	padding: 10px 0 10px 10px;
	position: relative;
	.colorBar {
		top: 0;
		left: 0;
		height: 100%;
		width: 0.4rem;
		position: absolute;
	}
	.title {
		.fa-certificate {
			color: #FFD353;
		}
		cursor: pointer;
	}
	.details {
		display:none;
		a {
			color: #fff;
		}
	}
}

.rremodal {
	text-align: left;
	h1, h2, h3, h4, p, span {
		color: #000;
		text-align: left;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	#resetDefaults {
		float:right;
		padding: 10px;
	}
	#subs {
		.settingSub {
			.colorBar {
				width: 1rem;
				height: 1rem;
				display: inline-block;
			}
			i {
				cursor: pointer;
			}
		}
		.settingNewSub {

			.colorSelector {
				width: 30px;
				height: 30px;
				background: url(../images/select.png) center;
				display: inline-block;
				margin-bottom: -10px;
			}
		}
	}
}

#sizeContainer {
	width: 150px;
	height: 50px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: .7;
	color: #000;
}
