@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
body, h1, h2, h3, h4, p, span {
	font-family: 'Open Sans';
	background-color: #000;
	color: #eee;
	line-height: 1.25;
}

.wrapper {
	position: relative;
	height: 100%;
}
#subredditContainer {
	height: 2em;
	/*background-color: #cee3f8;*/
	width: 100%;
	z-index: 10;
	position: relative;
}
#postContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
.post {
	padding: 10px 0;
}

.post .details {
	display:none;
}
.post .details a{
	color: #fff;
}
.post .title .fa-certificate{
	color: #FFD353;
}

/*.post:hover .details{
	display: block;
}*/