<html>
<head>
	<title>Reddit News</title>
	<link rel="stylesheet" type="text/css" href="css/gridless.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/jquery.remodal.css">
	<link rel="stylesheet" type="text/css" href="css/colorpicker.css">
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
	<div class='wrapper'>
		<div id='subredditContainer'>
			<ul id='activeSubreddit'>
			</ul>
			<ul id='inactiveSubreddits'></ul>
		</div>
		<div id='settings'><a href='#settings'><i class="fa fa-cog"></i></a></div>
		<div id='postContainer'>
			<div class='post'>
				<h1><i class="fa fa-reddit"></i> News</h1>
				<h3>Pulling headlines from <span id='fromSubreddits'></span></h3>
				<p>The larger the headline, the more upvotes it has. <i class="fa fa-certificate"></i> means it's an unseen post. <i class="fa fa-line-chart"></i> means there have been 50+ upvotes since you've seen it last.</p>
				<p>Created at <a href="http://www.movementstrategy.com" target="_blank">The Movement Strategy</a> by Dan Mandle</p>
			</div>
		</div>
	</div>

	<div id='sizeContainer'></div>

	<div class="remodal" data-remodal-id="settings">
	<button id='resetDefaults'><i class="fa fa-history"></i> Reset to Defaults</button>
		<h1>Settings</h1>
		<h2>Subreddits</h2>
			<div id='subs'>
			</div>
		<h2>Other Settings</h2>
			<p>Add a new post every <input type="number" id="addPostTiming" name="addPostTiming" value="2.0"  min="0.1" max="20" step="0.1"></input> seconds</p>
			<p>Show <input type="number" id="postsPerSub" name="postsPerSub" value="20"  min="1" ></input> posts per subreddit before switching</p>
		<br>
		<a class="remodal-cancel" href="#">Cancel</a>
		<a class="remodal-confirm" id="saveSettings" href="#">Save Changes</a>
	</div>


<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/q.js/1.1.2/q.js'></script>
<script type="text/javascript" src='js/lib/jquery.remodal.min.js'></script>
<script type="text/javascript" src='js/lib/colorpicker.js'></script>
<script type="text/javascript" src='js/main.js'></script>

<script type="text/template" id="post">
	<div class="post">
		<div class="colorBar" style="background-color: <%= subColor %>;"></div>
		<div class="title" style="font-size: <%= headlineSize %>rem;">
			<%
				if(!seen){
					%>
					<i class="fa fa-certificate"></i>&nbsp;
					<%
				}
			%>
			<%= title %>
			<%
				if(scoreDiff >= 50){
					%>
					<i class="fa fa-line-chart"></i> <%= scoreDiff.toLocaleString() %>
					<%
				}
			%>
		</div>
		<div class="details">
			<a href="https://reddit.com/r/<%= subreddit %>">/r/<%= subreddit %></a>
			<i class="fa fa-arrow-up"></i> <%= score %>
			<a href="https://reddit.com<%= permalink %>" target="_blank"><i class="fa fa-reddit"></i></a>
			<a href="<%= url %>" target="_blank"><i class="fa fa-external-link"></i></a>
			<a href="https://reddit.com<%= permalink %>" target="_blank"><i class="fa fa-comments-o"></i><%= score %></a>
			Posted by /u/<%= author %> <span data-livestamp="<%= created_utc %>"></span>
		</div>
	</div>
</script>

<script type="text/template" id="settingSub">
	<div class="settingSub" data-color=<%= color %> data-name=<%= name %> data-feed=<%= feed %>>
		<span class="colorBar" style="background-color:<%= color %>"></span> /r/<%= name %> <%= feed %> <i class="fa fa-pencil-square-o edit"></i> <i class="fa fa-times remove"></i>
	</div>
</script>

<script type="text/template" id="settingNewSub">
	<div class="settingNewSub">
		Subreddit: /r/<input name="subName" id="subName" type="text" placeholder="WorldNews" value='<%= name %>'>
		Color: <div class='colorSelector' style="background-color: <%= color %>"></div>
		Feed: <select class='subFeed'>
			<option selected="selected">hot</option>
			<option>new</option>
			<option>top</option>
		</select>
		<button><i class="fa fa-plus add"></i> Add Subreddit</button>
	</div>
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58342503-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>